*
{
margin: 0;
padding: 0;
box-sizing: border-box;    
}
body {
    color: white;
    background-image: url(pexels-pixabay-417267.jpg);
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    background-position-x: center;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 55px;
    text-transform: uppercase;
    transition: 1s;
    text-shadow: 0.5px 0.5px;
}
h1:hover{
    color: orange;
}
h2{
    color: orange;
    text-shadow: 1px 1px;
    line-height: 1.5;
}
p{
    font-size: large;
    margin-bottom: 35px;
}

a{
    color: white;
    transition: all 1s;

}


a:hover{
letter-spacing: .5rem;
color: orange;

}

nav {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
    
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 2em;
    background-color: #333;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: large;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 250px;
}
.section {
    margin-bottom: 2em;
}
